@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

body {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-weight: 300;
}
.btn {
  background-color: rgb(108, 116, 124);
  border: none;
  color: white;
  padding: 6px 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(202, 39, 74);
}
